*{
    border-radius: 10px;
    margin: 5px;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../Html/imagens/berge.jpg);
}

#menu-h{
    background-color: black;
}

#menu-h ul{
    max-width: 800px;
    list-style-type: none;
    padding: 0;
    background-color:black;
}

#menu-h ul li{
    display: inline;
}

#menu-h ul li a{
    color: aliceblue;
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    transition: background 0.5s;
}

#menu-h ul li a:hover{
    background-color: green;
}

#menu-h ul li:last-child a{
    float: right;
    background-color: green;
}

.secao{
    display: inline-block;
    border-radius: 20px;
    width: 300px;
    margin: 14.6px;
}

.preco{
    cursor: pointer;
    margin: 20px;
    background-color: rgb(51, 255, 0);
    text-align: center;
}

.descricao{
    text-align: center;
    width: 290px;
    height: 150px;
    margin: 5px;
    overflow: auto;
}

.footer{
    text-align: center;
}