.menu p{
    display: grid;
    width: 200px;
    padding: 5px;
    text-align: center;
    border-radius: 10px;
    border: solid;
}

.imagemPrincipal{
    text-align: center;
}

body{
    background-image: url(../imagens/tudomelhoreditadodenovo.jpg);
}